
body {
  background: linear-gradient(#f7bebe, #ada0a8);
}

h1 {
  color: #bb324a;
  text-align: center;
}

#automation-radio-buttons{
  float: left;
}

#board {
    width: 600px;
    height: 600px;
    margin: 20px;
    border: 25px solid #333;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    border-radius: 30px;
}

#board:hover{
  cursor: grab;
}

.square {
  float: left;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
  background-color: #fff;
  font-size: 3em;
  text-align: center;
  line-height: 2em;
}

.square:nth-of-type(16n+2),
.square:nth-of-type(16n+4),
.square:nth-of-type(16n+6),
.square:nth-of-type(16n+8),
.square:nth-of-type(16n+9),
.square:nth-of-type(16n+11),
.square:nth-of-type(16n+13),
.square:nth-of-type(16n+15) {
  background-color: #f9a7cf;
}

.selected {
  box-shadow: 0 0 0 3px red inset;
}

.square:not(.selected):hover {
  box-shadow: 0 0 0 3px gold inset;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: #bb324a;
  text-align: center;
  transform-origin: center;
}

h1:hover {
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

.flipped {
  transform: rotate(180deg);
}
.flipped-board {
  transform: rotate(180deg);
  transition-duration: 1s;
}
