
body {
  background: linear-gradient(#f7bebe, #ada0a8);
}

h1 {
  color: #bb324a;
  text-align: center;
}

#automation-radio-buttons{
  float: left;
}

#board {
    width: 35vw;
    height: 35vw;
    border: 25px solid #333;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    border-radius: 30px;
    transition-duration: 2s;
}

#board:hover{
  cursor: grab;
}

.square {
  float: left;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
  background-color: #fff;
  color: rgba(0,0,0,0.5);
  background-size: contain;
  position: relative;
}

.square:nth-of-type(16n+2),
.square:nth-of-type(16n+4),
.square:nth-of-type(16n+6),
.square:nth-of-type(16n+8),
.square:nth-of-type(16n+9),
.square:nth-of-type(16n+11),
.square:nth-of-type(16n+13),
.square:nth-of-type(16n+15) {
  background-color: #f9a7cf;
}


.square[piece=black-rook]{
  background-image: url("../img/blackRook.png");
}
.square[piece=white-rook]{
  background-image: url("../img/whiteRook.png");
}
.square[piece=black-knight]{
  background-image: url("../img/blackKnight.png");
}
.square[piece=white-knight]{
  background-image: url("../img/whiteKnight.png");
}
.square[piece=black-bishop]{
  background-image: url("../img/blackBishop.png");
}
.square[piece=white-bishop]{
  background-image: url("../img/whiteBishop.png");
}
.square[piece=black-queen]{
  background-image: url("../img/blackQueen.png");
}
.square[piece=white-queen]{
  background-image: url("../img/whiteQueen.png");
}
.square[piece=black-king]{
  background-image: url("../img/blackKing.png");
}
.square[piece=white-king]{
  background-image: url("../img/whiteKing.png");
}
.square[piece=black-pawn]{
  background-image: url("../img/blackPawn.png");
}
.square[piece=white-pawn]{
  background-image: url("../img/whitePawn.png");
}

.selected {
  box-shadow: 0 0 0 3px red inset;
}

.target {
  box-shadow: 0 0 0 3px grey inset;
}

.square:not(.selected):hover {
  box-shadow: 0 0 0 3px gold inset;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: #bb324a;
  text-align: center;
  transform-origin: center;
}

h1:hover {
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

button {
  height: 48px;
  width: 96px;
}

.flipped {
  transform: rotate(180deg);
}
.flipped-board {
  transform: rotate(180deg);
  transition-duration: 2s;
}

#flip:hover {
  box-shadow: 0 0 0 3px gold inset;
}
