
body {
  background: radial-gradient(circle at bottom left, #f7bebe, #c7b5c0);
}

h1 {
  color: #bb324a;
  text-align: center;
  transform-origin: center;
}

h1:hover {
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

h2{
  text-align: center;
  margin: 10px; auto;
}

button {
  height: 48px;
  width: 96px;
}



.square img {
  width: 100%;
  height: 100%;
  display: block;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#automation-radio-buttons{
  position: absolute;
  top: 0;
}

#board-container *,button#flip, button#reset, #automation-radio-buttons, h1 {
  user-select: none;
  -moz-user-select: none;
}

button {
  display: block;
  margin: 10px 20px;
}

/*
*
*
*   Board
*
*
*
*/

#board-container {
  display: block;
  width: 38vw;
  height: 38vw;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  height: 11%;
  position: relative;
}
div {
    text-align: center;
    font-size: 2vw;
}

.square, #top-border div, #bottom-border div {
  width: 11%;
}

.row:nth-child(even) .square:nth-child(even).square, .row:nth-child(odd) .square:nth-child(odd).square {
  background: #f9a7cf;
}
.row:nth-child(odd) .square:nth-child(even).square, .row:nth-child(even) .square:nth-child(odd).square {
  background: white;
}

#board-container #top-border, #board-container #bottom-border {
  height: 6%;

}
#top-border div, #bottom-border div {
  background-color: #ad3283;
}
#board-container .row div:first-of-type, #board-container .row div:last-of-type {
  width: 6%;
  background-color: #ad3283;
}


#board-container{
    box-shadow: 2px -2px 5px grey;
    margin: 0 auto;
}

#board-container.grabbed:hover {
  cursor: grabbing;
}

#board:hover{
  cursor: grab;
}

.square{
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}

.selected {
  box-shadow: 0 0 0 3px green inset;
}

.target {
  box-shadow: 0 0 0 3px grey inset;
}

.square:not(.selected):hover {
  box-shadow: 0 0 0 3px gold inset;
}

.flipped {
  transform: rotate(180deg);
}

.flipped-board {
  transform: rotate(180deg);
  transition-duration: 2s;
}

#flip:hover, #reset:hover {
  box-shadow: 0 0 0 3px gold inset;
}
