
body {
  background: linear-gradient(#f7bebe, #ada0a8);
}

h1 {
  color: #bb324a;
  text-align: center;
}

#automation-radio-buttons{
  float: left;
}

#board, #board *,button#flip, #automation-radio-buttons, h1 {
  user-select: none;
  -moz-user-select: none;
}

#board {
    width: 35vw;
    height: 35vw;
    margin: auto;
    transition-duration: 2s;
}

#board:hover{
  cursor: grab;
}

table {
  width: 100%
  border-collapse: collapse;
  border-spacing: 0;
}

.square, .file-label, .rank-label{
  float: left;
  width: 11%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
}

tr:first-of-type, tr:last-of-type {
  height: 2%;
}

tr td:first-of-type, tr td:last-of-type {
  width: 5%;
}


tr:nth-child(even) td:nth-child(even).square, tr:nth-child(odd) td:nth-child(odd).square {
  background: #f9a7cf;
}
tr:nth-child(odd) td:nth-child(even).square, tr:nth-child(even) td:nth-child(odd).square {
  background: white;
}

.square[piece=black-rook]{
  content: url("../img/blackRook.png");
}
.square[piece=white-rook]{
  content: url("../img/whiteRook.png");
}
.square[piece=black-knight] {
  content: url("../img/blackKnight.png");
}
.square[piece=white-knight] {
  content: url("../img/whiteKnight.png");
}
.square[piece=black-bishop] {
  content: url("../img/blackBishop.png");
}
.square[piece=white-bishop] {
  content: url("../img/whiteBishop.png");
}
.square[piece=black-queen] {
  content: url("../img/blackQueen.png");
}
.square[piece=white-queen] {
  content: url("../img/whiteQueen.png");
}
.square[piece=black-king] {
  content: url("../img/blackKing.png");
}
.square[piece=white-king] {
  content: url("../img/whiteKing.png");
}
.square[piece=black-pawn] {
  content: url("../img/blackPawn.png");
}
.square[piece=white-pawn] {
  content: url("../img/whitePawn.png");
}

.selected {
  box-shadow: 0 0 0 3px red inset;
}

.target {
  box-shadow: 0 0 0 3px grey inset;
}

.square:not(.selected):hover {
  box-shadow: 0 0 0 3px gold inset;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: #bb324a;
  text-align: center;
  transform-origin: center;
}

h1:hover {
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

button {
  height: 48px;
  width: 96px;
}

.flipped {
  transform: rotate(180deg);
}
.flipped-board {
  transform: rotate(180deg);
  transition-duration: 2s;
}

#flip:hover {
  box-shadow: 0 0 0 3px gold inset;
}
