html {
    font-size: 62.5%; //so that I can work in base 10
}

body {
    background: $light-silver;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,$dark-silver, $light-silver);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $dark-silver, $light-silver); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #brand {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1.5rem;
  }
  
  #status {
    color: white;
  }
  
  .selected {
    box-shadow: 0 0 0 3px green inset;
  }
  
  .target {
    box-shadow: 0 0 0 3px grey inset;
  }
  
  .flipped-board {
    transform: rotate(180deg);
  }
  
 