//colors

$dark-silver: #29323c;
$light-silver: #485563;
$peach: #faaca8;
$off-white: #ddd6f3;

//sizes
$l-square: 7rem;
$m-square: 5rem;
$s-square: 4rem;

$l-row: 56rem;
$m-row: 40rem;
$s-row: 32rem;
